<a href="https://colab.research.google.com/github/otanerifpb/Atividade1ArvoresKNN-Titanic/blob/main/Atividade1ArvoresKNNTitanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Passo 01 - Carregar a base TITANIC do seaborn

In [62]:
from seaborn import load_dataset

df = load_dataset('titanic')

df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

Passo 02 - Observar a relação dos atributos "pclass" com "class"

In [63]:
# Os valores de 'pclass' e 'class', são idênticos, porem um é numérico e outro é categórico, vou eliminar a coluna 'class' por ser categórica
df = df.drop('class', axis = 1)

df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,man,True,NaN,Queenstown,no,True

Passo 03 -  Observar a quantidade de NaN existente no atributo "deck"

In [64]:
import pandas as pd

df = pd.DataFrame(data = df)

coluna = df['deck']
cont_nan = coluna.isna().sum()

# Devido a quantidade alta de NaN na coluna 'deck', será melhor remover a mesma
df = df.drop('deck', axis = 1)

print()
print('Quantidade de Linhas que contem NaN')
print("Total NaN: " + str(cont_nan))
print()
print('df com a coluna deck removida')
df

Quantidade de Linhas que contem NaN
Total NaN: 688

df com a coluna deck removida

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,man,True,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,woman,False,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,woman,False,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,man,True,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,man,True,Queenstown,no,True

Passo 04 - Remover as linhas que teham valores NaN

In [65]:
df = df.dropna()

df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,39.0,0,5,29.1250,Q,woman,False,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,man,True,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,woman,False,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,man,True,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,man,True,Queenstown,no,True

Passo 05 - Transformar todos os atributos categóricos usando One-Hot Encoder

In [67]:
from sklearn import preprocessing
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder = make_column_transformer((OneHotEncoder(), ['sex','embarked','who', 'adult_male', 'embark_town', 'alive', 'alone']), remainder='passthrough')

df = one_hot_encoder.fit_transform(df)
df = pd.DataFrame(data = df)

df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,3.0,22.0,1.0,0.0,7.2500
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,38.0,1.0,0.0,71.2833
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,3.0,26.0,0.0,0.0,7.9250
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,35.0,1.0,0.0,53.1000
4,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,3.0,35.0,0.0,0.0,8.0500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,3.0,39.0,0.0,5.0,29.1250
708,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,2.0,27.0,0.0,0.0,13.0000
709,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,1.0,19.0,0.0,0.0,30.0000
710,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,26.0,0.0,0.0,30.0000
711,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,3.0,32.0,0.0,0.0,7.7500

Passo 06 - Coluna target é a "pclass" ou "survived"

In [72]:
# A escolha para a Target(y) foi a coluna 'pclass', que é a coluna 16
y = df[18]

# Para as Features(X), são todas as demais colunas do df - y
X = df.drop(18, axis=1)

print(y)
print()
print(X)

0      3.0
1      1.0
2      3.0
3      1.0
4      3.0
      ...
707    3.0
708    2.0
709    1.0
710    1.0
711    3.0
Name: 18, Length: 712, dtype: float64

      0    1    2    3    4    5    6    7    8    9   ...   12   13   14  \
0    0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0  ...  1.0  1.0  0.0
1    1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  ...  0.0  0.0  1.0
2    1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  ...  1.0  0.0  1.0
3    1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  ...  1.0  0.0  1.0
4    0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0  ...  1.0  1.0  0.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
707  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  1.0  0.0  ...  0.0  1.0  0.0
708  0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0  ...  1.0  1.0  0.0
709  1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  ...  1.0  0.0  1.0
710  0.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  1.0
711  0.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  1.0  0.0

      15   16   17    19   20   21       22
0    1.0  0.0  0.0  22.0  1.0  0.0   7.2500
1    1.0  0.0  1.0  38.0  1.0  0.0  71.2833
2    0.0  1.0  1.0  26.0  0.0  0.0   7.9250
3    1.0  0.0  1.0  35.0  1.0  0.0  53.1000
4    0.0  1.0  0.0  35.0  0.0  0.0   8.0500
..   ...  ...  ...   ...  ...  ...      ...
707  1.0  0.0  0.0  39.0  0.0  5.0  29.1250
708  0.0  1.0  0.0  27.0  0.0  0.0  13.0000
709  0.0  1.0  1.0  19.0  0.0  0.0  30.0000
710  0.0  1.0  1.0  26.0  0.0  0.0  30.0000
711  0.0  1.0  0.0  32.0  0.0  0.0   7.7500

[712 rows x 22 columns]

Passo 07 - Separar os dados de treinamento e testes

In [73]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = None, stratify = y)

Passo 08 - Treinar 2 árvores de decisão com características diferentes

In [86]:
from sklearn.tree import DecisionTreeClassifier

# Árvore de Decisão com entropy
treino1 = DecisionTreeClassifier(criterion = "entropy")
# Árvore de Decisão com profundidade limitada
treino2 = DecisionTreeClassifier(max_depth = 3)

# Treinameto dos dados com Árvore de Decesão
treino1.fit(X_train, y_train)
treino2.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=3)

Passo 09 - Treinar 2 kNN com características diferentes

In [87]:
from sklearn.neighbors import KNeighborsClassifier

# K-NN com 7 vizinhos, metrica 'euclidoen'
treino3 = KNeighborsClassifier(n_neighbors = 7, metric = 'euclidean', algorithm = 'brute')
# K-NN com 5 vizinhos, metrica 'manhattan'
treino4 = KNeighborsClassifier(n_neighbors = 5, metric = 'manhattan', algorithm = 'brute')

# Treinameto dos dados com Árvore de Decesão
treino3.fit(X_train, y_train)
treino4.fit(X_train, y_train)

KNeighborsClassifier(algorithm='brute', metric='manhattan')

Passo 10 - Exibir acurácia dos testes

In [107]:
from sklearn import metrics

print('*'*13 + 'Acurácia Árvore Decisão' + '*'*15)
result1 = treino1.predict(X_test)
acc1 = metrics.accuracy_score(result1, y_test)
show1 = round(acc1 * 100)
print("Árvore Decisão Profundidade livre: " + ' '*13 + "{}%".format(show1))

result2 = treino2.predict(X_test)
acc2 = metrics.accuracy_score(result2, y_test)
show2 = round(acc2 * 100)
print("Árvore Decisão Profundidade 3: " + ' '*17 + "{}%".format(show1))

print()
print('*'*19 + 'Acurácia K-NN' + '*'*19)
result3 = treino3.predict(X_test)
acc3 = metrics.accuracy_score(result3, y_test)
show3 = round(acc3 * 100)
print("Protocolo K-NN 7 Neighbord Metric 'eucledean': " + ' ' + "{}%".format(show3))

result4 = treino4.predict(X_test)
acc4 = metrics.accuracy_score(result4, y_test)
show4 = round(acc4 * 100)
print("Protocolo K-NN 7 Neighbord  Metric 'manhattan': " + "{}%".format(show3))

*************Acurácia Árvore Decisão***************
Árvore Decisão Profundidade livre:              90%
Árvore Decisão Profundidade 3:                  90%

*******************Acurácia K-NN*******************
Protocolo K-NN 7 Neighbord Metric 'eucledean':  80%
Protocolo K-NN 7 Neighbord  Metric 'manhattan': 80%